@page "/users"
@using System.Text.Json
@using ProjectManagement.IService
@using ProjectManagement.Models
@using Task = System.Threading.Tasks.Task
@attribute [StreamRendering]
@inject IUserService UserService;
@inject NavigationManager _navigationManager

<PageTitle>Users</PageTitle>

<h1>Users</h1>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addUser">
    Add User
</button>


@if (!users.Any())
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>UserId</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
            <th>Password</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var user in users)
        {
            <tr>
                <td>@user.userId</td>
                <td>@user.firstName</td>
                <td>@user.lastName</td>
                <td>@user.email</td>
                <td>@user.password</td>
                <td>
                    <button type="button" class="btn btn-success"
                            data-bs-toggle="modal" data-bs-target="#editUser"
                            @onclick="() => userEdit = user">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </button>
                    <button type="button" class="btn btn-danger" @onclick="() => DeleteUser(user.userId)">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                </td>
            </tr>
        }
        </tbody>
    </table>
}

<div class="modal fade" id="addUser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <AddUser/>
        </div>
    </div>
</div>

@if (userEdit != null)
{
    <div class="modal fade" id="editUser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <EditUser User="userEdit"/>
            </div>
        </div>
    </div>
}


@code {
    private List<User> users;
    private User userEdit;

    protected override async Task OnInitializedAsync()
    {
        users = UserService.GetAll();
    }

    private void DeleteUser(string id)
    {
        Console.WriteLine(id);
        UserService.Delete(id);
        users = UserService.GetAll();
    }

}